* {
  margin: 0%;
  padding: 0%;
}

/* .form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 0.2rem;
    background-color: lightgray;
} */
.box-title{
  text-decoration: underline;
  margin-bottom: 1rem;
}
#loginorregister {
  color: var(--bg-color) !important;
}
.btn-primary {
  color: var(--tertiary-bg-color) !important;
  border-color: var(--tertiary-bg-color) !important;
  background-color: transparent !important;
}
.btn-primary:hover {
  background-color: var(--tertiary-bg-color) !important;
  color: var(--light-color) !important;
}
#registerationsection{
  margin-top: 30px; 
  font-size: 15px; 
  display: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
#signinsection{
  margin-top: 3.6rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.seksi-background{
  min-height: 82vh;
}