
@import url("https://fonts.googleapis.com/css?family=Poppins &display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  font-size: 16px;
  --font-family: "Poppins" !important;
  --bg-color: #222831;
  --secondary-bg-color: #393E46;
  --tertiary-bg-color: #FD7014;
  --font-color: #EEEEEE;
}