/* Styling the page */

@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/images/bg.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#heading {
    /* text-align: center; */
    margin-left: 122px;
    font-family: 'Poppins';
    font-size: 28pt;
    color: white;
    font-weight: bold;
}
.container-t {
    border: 0;
    user-select: none;
    margin-left: 122px;
    width: 555px;
    padding: 2rem;
    background-color:aqua;
}
.inside-container {
    width: 490px;
}
#select_assignment_lbl, #upload_assignment_lbl {
    font-size: 14pt;
    font-family: 'Poppins';
    
}
.select_assignment {
    margin-top: 70px;
    margin-left: 10px;
    padding: 1px 11px;
    width: 300px;
    text-align:center;
    color: #0d6efd;
    background: #ffffff;
    border: 1px solid #0d6efd;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 14pt;
}
.select_assignment:hover,
.select_assignment:focus,
#choose::-webkit-file-upload-button:hover{
    outline: none;
    color:#ffffff;
    background-color: #0d6efd;
}
.select_assignment option{
    border: 2px solid #0d6efd;
}
#choose{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 300px;
    font-size: 14pt;
    font-family: 'Poppins';
}
#choose::-webkit-file-upload-button{
    border: 1px solid #0d6efd;
    border-radius: 5px;
    width: 160px;
    padding: 1px 11px;
    color: #0d6efd;
    background-color: #ffffff;
    font-size: 14pt;
    font-family: 'Poppins';
}
.check-line-text {
    font-size: 14pt;
    font-family: 'Poppins'
}
.checkboxes{
    margin-left: 30px;
    font-size: 14pt;
    font-family: 'Poppins';
}
.check-color:checked::after{
    animation: click-wave 0.5s;
    background:#0d6efd;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
@keyframes click-wave {
    0% {
        height: 30px;
        width: 30px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
.check-color {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background:#0d6efd;
    border: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    outline: none;
    z-index: 1000;
}
.check-color:checked::before{
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✓';
    display: inline-block;
    font-size: 25.5559px;
    text-align: center;
    font-weight:bold;
    line-height: 30px;
}

#evaluate, #download {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 220px;
    padding: 5px 24px;
    font-size: 14pt;
    font-family: 'Poppins';
    color: #0d6efd;
    background-color:#ffffff;
    border: 1px solid #0d6efd;
    border-radius: 3px;
}


#evaluate:hover, #download:hover{
    cursor: pointer;
    background-color:#0d6efd;
    color: #ffffff;
}
#evaluate:active, #download:active{
    transition: color .15s ease-in-out;
    background-color:color .15s ease-in-out;
    border-color: .15s ease-in-out;
    box-shadow: .15s ease-in-out;
}
.d-btn { 
    visibility:hidden
}
@media (min-width: 650px) and (max-width: 950px ) {
    .container-t {
      margin: auto;
    }
}
@media (min-width: 0px) and (max-width: 650px ) {
    .inside-container{
        width: 385px;
        margin: auto;
    } 
    .container-t {
        width: 430px;
        padding:1rem;
        margin: auto;
      }
    #evaluate, #download {
      font-size: 12pt;
      width: 160px;
    }
    #select_assignment_lbl, #upload_assignment_lbl {
        font-size: 12pt;
    }
    .select_assignment, #choose{
        font-size: 12pt;
        width: 220px;
    }
    #choose::-webkit-file-upload-button{
        font-size: 11pt;
        width: 100px;
    }
    .checkboxes, .check-line-text {
        font-size: 12pt;
    }
    .check-color:checked::before {
        font-size: 12pt;
        width: 19px;
        height: 19px;
        line-height: 20px;
    }
    .check-color {
        font-size: 12pt;
        width: 19px;
        height: 19px;
        top: 8px;
    }
}