.TA-box {
  min-height: 100vh;
  margin: 3rem 2rem;
}

.TA-header {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.TA-heading {
  font-size: 2rem;
}
.OTP-text {
  width: 30%;
  font-size: 14pt;
}
.form-control {
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  border-color: transparent;
  width: 100%;
}

.ct-icon {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.ct-icon .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: var(--tertiary-bg-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ct-icon:hover {
  color: var(--tertiary-bg-color);
}

.ct-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.TA-cards {
  display: flex;
  margin-top: 1rem;
}
.TA-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0.3rem 1rem;
  padding: 1rem;
  padding-top: 0;
  border-radius: 10%;
}

.TA-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.TA-card .name {
  font-size: 15pt;
}
.TA-card .subject {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 13pt;
}
.TA-del-btn {
  color: var(--tertiary-bg-color) !important;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  background-color: transparent;
  border-color: var(--tertiary-bg-color) !important;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.TA-del-btn:hover {
  background-color: var(--tertiary-bg-color);
  color: var(--light-color) !important;
}
