{% extends "base.html" %}
{% block title %}Autograde | Assignments
{% endblock %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            color: #393e46;
        }
        footer {
            margin-top: 16rem;
        }
        #confirmation-table {
            background-color: white;
            width: 100%;
            overflow-y: scroll;
            /* padding: 2rem; */
        }
        .outter-box{
            padding: 0.6rem;
            background-color: white;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        }
    </style>
    <section>
        <div class="container" style="padding: 25px;">
            <div class="row">
                <div class="col-md-6 ">
                    <h3 style="font-weight: bolder; " id="dmsheading">Assignments
                    </h3>
                    <p style="font-weight: 400; text-align: justify;">
                        Here are the assignments created by user. You can directly check assignments of the students for a particular one. Moreover, you can delete and edit assignments too.</p>
                </div>
                <div class="col-md-6 text-center" style="align-self: center;justify-self: center;">
                    <img class="img-fluid" src="/static/images/assignment.png" style="width: 150px; height: 150px; " alt=""></div>
            </div>

        </div>
    </section>

    <div class="container col-md-8">
        <div
        class="outter-box rounded" id="viewsection">

        <div class="container" id="tablesection">
            <table class="table" id="confirmation-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Assignment Title</th>
                    <th scope="col">Mark Assignments</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                    {% for a in assignments %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>{{ a.title }}</td>
                            <td><i class="fas fa-external-link-alt btn btn-outline-success"></i></td>
                            <td><i class="fas fa-trash-alt btn btn-outline-danger"></i></td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
                <tbody id="table-body"></tbody>
              </table>
        </div>
    </div>
    </div>
{% endblock %}
