<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        * {
            margin: 0%;
            padding: 0%;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

    </style>
</head>

<body>

    <section style="background-color: black">
        <div class="container" style="padding: 25px;">

            <div class="row">
                <div class="col-md-6 ">
                    <h3 style="color: white;font-size: 20px; font-weight: bolder; " id="dmsheading">Assignments
                    </h3>
                    <p style="color: white;font-size: 15px; font-weight: 400; text-align: justify;">
                        Here are the assignments created by {{user}}.Check status whether they are graded or not. Moreover, you can delete and edit assignments too.</p>
                </div>
                <div class="col-md-6 text-center" style="align-self: center;justify-self: center;">
                    <img class="img-fluid" src="/static/images/assignment.png" style="width: 150px; height: 150px; " alt="">
                </div>
            </div>

        </div>
        <!-- <img class="img-fluid" style="width: 100%;" src="/static/wave1.png" alt=""> -->
    </section>

    <!-- <div class="container" id="msgs" style="margin-top: 30px; font-size: 15px;">
        <div id="error_msg" class="alert alert-danger alert-dismissible fade show" role="alert"
            style="font-weight: bolder; display: none;">
            A simple danger alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div id="success_msg" class="alert alert-success alert-dismissible fade show" role="alert"
            style="font-weight: bolder; display: none;">
            A simple danger alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div> -->


    <div class="container" id="viewsection" style="margin-top: 30px; font-size: 15px;">
        <form class="row g-3" id="viewform" action="" method="post">
            <div class="col-md-4">
                <label for="assignmentid" class="form-label" style="font-weight: bolder;">Id</label>
                <input type="text" class="form-control" id="assignmentid" name="assignmentid" required disabled>
            </div>

            <div class="col-md-4">
                <label for="name" style="font-weight: bolder; margin-bottom: 8px;">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="col-md-4">
                <label for="status" style="font-weight: bolder; margin-bottom: 8px;">Status</label>
                <input type="text" class="form-control" id="status" name="status" required disabled>
            </div>

            <div class="col-12">
                <button   class="btn btn-primary" type="submit">Update</button>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </form>
    </div>

    <div class="container" id="note">
        <p style="color: red; font-size: 12px; font-weight: bolder; text-align: justify;">Note: Be careful while clicking crosses! Clicking a cross will delete that  assignment and record permanently.</p>
    </div>
 
    <div class="container table-responsive" id="tablesection" style="margin-top: 20px;">
        <table class="table table-sm table-bordered table-hover" id="assignmentstable" style="font-size: 13px; max-height: 400px;">
            <thead>
                <tr class="table-dark" style="background-color: black !important;">
                    <th class="text-center align-middle" scope="col">#</th>
                    <th class="text-center align-middle" scope="col">Name</th>
                    <th class="text-center align-middle" scope="col">Status</th>
                    <th class="text-center align-middle" scope="col" ></th>
                </tr>
            </thead>
            <tbody id="tablebody" style="font-weight: 600;">
                <tr id=0>
                    <td id="id-0">0</td>
                    <td id="name-0">PF</td>
                    <td id="status-0">Not Graded</td>
                    <td><img id="img-0" src="/static/images/remove (3).png" alt=""></td>
                </tr>
                <tr id=1>
                    <td id="id-1">1</td>
                    <td id="name-1">Graded</td>
                    <td id="status-1">DSA</td>
                    <td><img id="img-1" src="/static/images/remove (3).png" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- --------------------------------------------------Functions-------------------------------------------------- -->
    <script>

    </script>
    <!--------------------------------------------- Ajax Portion----------------------------------------------------------->
    <script> 
        $(document).ready(function () {
            $(document).on('click','#assignmentstable tbody tr td img',function(){
                var id=this.id.split("-")[1]
                   $("#"+id+"").remove()
                   $('#assignmentstable').fadeOut(500).fadeIn(500)
            });

            $(document).on('click','#assignmentstable tbody tr', function() {
                var id=this.id;
                $('#viewsection').fadeOut(200).fadeIn(200);
                document.getElementById("assignmentid").value =$("#id-"+id+"").text();
                document.getElementById("name").value =$("#name-"+id+"").text();
                document.getElementById("status").value =$("#status-"+id+"").text();
            });
        });
    </script>






</body>

</html>