<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/base.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <header>
      <nav class="navbar">
        <div class="title">
          <a>AUTOGRADE</a>
        </div>
        <div class="hamburger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="navbar-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Mark</a></li>
            <li><a href="#">About</a></li>
            <li><button class="login-button" href="#">Login / Register</button></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- MAIN CONTENT WILL GO HERE -->
    {% block content %}
    <div class="main">
      <h2>Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, officia
        dignissimos. Nesciunt laudantium, sunt nihil ipsam reprehenderit neque
        officiis facilis obcaecati laboriosam atque quaerat possimus provident
        id recusandae accusantium nam!
      </p>
    </div>
    {% endblock %}
    <!-- Footer here -->
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About us</h2>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
              quos fuga culpa inventore quas amet odio sint deleniti, dolore in
              optio adipisci aut provident harum voluptatem necessitatibus iste
              ducimus repudiandae.
            </p>
            <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-github"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
            </div>
          </div>
        </div>

        <div class="right box">
          <h2>Contact us</h2>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+92-XXX-XXXXXXX</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">hussnainilyas2344@gmail.com</span>
          </div>
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">UET,Lahore</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="/static/js/base.js"></script>
</html>
