{% extends "base.html" %}
{% block title %}Autograde | Forgot Password
{% endblock %}
{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0%;
            padding: 0%;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

    </style>


    <div class="container" id="msgs" style="margin-top: 30px; font-size: 15px;">
        <div id="error_msg" class="alert alert-danger alert-dismissible fade show" role="alert" style="font-weight: bolder; display: none;">
            A simple danger alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div id="success_msg" class="alert alert-success alert-dismissible fade show" role="alert" style="font-weight: bolder; display: none;">
            A simple danger alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container" id="emailsection" style="margin-top: 30px; margin-bottom: 30px; font-size: 15px;">

        <form action="/accountfound" method="post" >
            <div class="mb-3" >
                <label for="email" class="form-label" style="font-weight: bolder;">Email address </label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            </div>
            <button type="submit" class="btn btn-primary">Proceed</button>
        </form>
    </div>

    <div class="container" id="otpsection" style="margin-top: 30px; margin-bottom: 30px;  font-size: 15px; display: none;">

        <form action="/otpver" method="post" >
            <div class="mb-3" >
                <label for="otp" class="form-label" style="font-weight: bolder;">Verfication code</label>
                <input type="text" placeholder="xxx-xxx" class="form-control" id="otp" name="otp" aria-describedby="otpHelp" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/[-]).replace(/(\..*)\./g, '$1');" maxlength="7" required>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Proceed</button>
        </form>
    </div>

    <div class="container" id="newpasssection" style="margin-top: 30px; margin-bottom: 30px; font-size: 15px; display: none;">

        <form action="/updatepassword" method="post" >
            <div class="mb-3" >
                <label for="newpass" class="form-label" style="font-weight: bolder;">New password</label>
                <input type="password"  class="form-control" id="newpass" name="newpass" aria-describedby="otpHelp" maxlength="16" required>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Confirm</button>
        </form>
    </div>

    {% if errornf==True %}
    <script>
        document.getElementById("error_msg").style.display="block";
        document.getElementById("error_msg").innerHTML='Account not found.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
    </script>  
    {% endif %}

    {% if accf==True %}
    <script>
        document.getElementById("success_msg").style.display="block";
        document.getElementById("success_msg").innerHTML='Account found. Verfication code has been sent to your email.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
        document.getElementById("otpsection").style.display="block";
        document.getElementById("emailsection").style.display="none";
   </script>  
    {% endif %}

    {% if errorincotp==True %}
    <script>
        document.getElementById("error_msg").style.display="block";
        document.getElementById("error_msg").innerHTML='Incorrect verfication code.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
        document.getElementById("otpsection").style.display="block";
        document.getElementById("emailsection").style.display="none";
   </script>  
    {% endif %}

    {% if otpiscorrect==True %}
    <script>
        document.getElementById("success_msg").style.display="block";
        document.getElementById("success_msg").innerHTML='Verification code matched. Update your password now.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
        document.getElementById("newpasssection").style.display="block";
        document.getElementById("emailsection").style.display="none";
   </script>  
    {% endif %}


    <script>
        function visible(e) {

            var x = document.getElementById("newpass");
            if (e.target.id == "showpass") {
                e.target.style.display = "none";
                document.getElementById("hidepass").style.display = "block";
                x.type = "text";
            }
            else if (e.target.id == "hidepass") {
                e.target.style.display = "none";
                document.getElementById("showpass").style.display = "block";
                x.type = "password";
            }

        }
    </script>
{% endblock %}