{% extends "base.html" %}
{% block title %}Autograde | Homepage{% endblock %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <div class=" p-0">
        <div id="Carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">

                    <img src="../static/images/1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block color">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../static/images/2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block color">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id placeat labore ex ipsam amet excepturi recusandae explicabo debitis nesciunt? Perspiciatis porro optio,
                            nihil ea voluptatum fuga? Facilis rerum fugit ullam.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../static/images/3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block color">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-md-12 box-height">
            <p class="features"><strong>Features</strong></p>
            <div class="float-sm-start mt-3 col-md-6 px-5">
                <h1 class="ms-3 heading-1">Reliability</h1>
                <p class="ms-3 text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex, aspernatur officia illo non obcaecati eligendi impedit quae explicabo cumque corporis magni quas ullam consectetur harum vel suscipit debitis. Totam, iusto</p>
            </div>
            <div class="float-sm-end col-md-6 ">
                <img src="../static/images/1.jpg" class="img-fluid image-1 me-3" alt="feature-1">
            </div>
        </div>
        <div class="col-md-12 box-height">
            <div class="float-sm-start col-md-6 ">
                <img src="../static/images/2.jpg" class="img-fluid image-2 ms-5" alt="feature-1">
            </div>
            <div class="float-sm-end mt-3 col-md-6 px-5">
                <h1 class="me-3 heading-2">Reliability</h1>
                <p class="me-3 text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex, aspernatur officia illo non obcaecati eligendi impedit quae explicabo cumque corporis magni quas ullam consectetur harum vel suscipit debitis. Totam, iusto</p>
            </div>
        </div>
        <div class="col-md-12 box-height">
            <div class="float-sm-start mt-3 col-md-6 px-5">
                <h1 class="ms-3 heading-1">Reliability</h1>
                <p class="ms-3 text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex, aspernatur officia illo non obcaecati eligendi impedit quae explicabo cumque corporis magni quas ullam consectetur harum vel suscipit debitis. Totam, iusto</p>
            </div>
            <div class="float-sm-end col-md-6 ">
                <img src="../static/images/3.jpg" class="img-fluid image-1" alt="feature-1">
            </div>
        </div>
    </div>
{% endblock %}